# unnecessary for tracking
/.scratch
/node_modules

# code coverage and quality reports
*.out

# sensitive data
.private.env
.private.hosts
http-client.private.env.json

# Editor specific files
.idea/
.vscode/
.buildpath/
.project/
.settings/
nbproject/

# Environment config
.env
frpc.ini

# OS specific files
.DS_Store
Thumbs.db