name: publish

on:
  push:
    branches:
      - master
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: { node-version: 16, cache: npm }

      - run: npm ci
      - run: npm run publish

      - id: git-check
        run: echo ::set-output name=modified::$(if [ -n "$(git status --porcelain)" ]; then echo "true"; else echo "false"; fi)
      - if: steps.git-check.outputs.modified == 'true'
        run: |
          git config --global user.name 'Kamil Samigullin'
          git config --global user.email 'kamil@samigullin.info'
          git add -A
          git commit -m '[build] add publishing artifacts'
          git push

      - uses: readmeio/github-readme-sync@v2
        with:
          readme-oas-key: ${{ secrets.README_KEY }}:6172e1f931427d3f983e34ff
          oas-file-path: ./api.yaml

      - uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_ICON: https://github.com/github.png?size=64
          SLACK_USERNAME: GitHub Actions
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
